nh3~=0.2.18
pip~=24.3.1
attrs~=24.2.0
docutils~=0.21.2
tornado~=6.4.1
rich~=13.9.3
Pygments~=2.18.0
markdown-it-py~=3.0.0
mdurl~=0.1.2
importlib_metadata~=8.5.0
twine~=5.1.1
keyring~=25.5.0
readme_renderer~=44.0
requests~=2.32.3
rfc3986~=2.0.0
pkginfo~=1.11.2
requests-toolbelt~=1.0.0
urllib3~=2.2.3
more-itertools~=10.5.0
certifi~=2024.8.30
pywin32-ctypes~=0.2.3
idna~=3.10
charset-normalizer~=3.4.0
setuptools~=75.3.0
packaging~=24.1
pywin32~=308
platformdirs~=4.3.6
zipp~=3.20.2
beautifulsoup4~=4.12.3
pytz~=2024.2
pandas~=2.2.3