pip~=24.2
pandas~=2.2.3
pytz~=2024.2
nh3~=0.2.18
docutils~=0.21.2
rich~=13.9.2
Pygments~=2.18.0
markdown-it-py~=3.0.0
mdurl~=0.1.2
importlib_metadata~=8.5.0
twine~=5.1.1
keyring~=25.4.1
readme_renderer~=44.0
requests~=2.32.3
rfc3986~=2.0.0
pkginfo~=1.11.2
requests-toolbelt~=1.0.0
urllib3~=2.2.3
more-itertools~=10.5.0
certifi~=2024.8.30
pywin32-ctypes~=0.2.3
idna~=3.10
charset-normalizer~=3.4.0
setuptools~=75.2.0
zipp~=3.20.2